pelican:
  appUrl: "https://example.com"
  adminEmail: ""
  dataPVC:
    enabled: true
    storageClassName: ""
    accessModes:
      - ReadWriteOnce
    size: 4Gi
  logsPVC:
    enabled: true
    storageClassName: ""
    accessModes:
      - ReadWriteOnce
    size: 1Gi
  externalDatabase:
    enabled: false
    host: ""
    port: 5432
    database: ""
    externalSecretName: ""
    usernameKey: ""
    passwordKey: ""
  redis:
    enabled: false
    host: ""
    port: 6379
    auth:
      enabled: false
      password: ""

pluginDownloader:
  image:
    repository: curlimages/curl
    tag: latest
    pullPolicy: IfNotPresent
  # for repositories that contain multiple plugins inside subdirectories
  # repo will be unzipped and plugins inside 'plugins' list will be moved to plugins directory
  repoDownloads:
    - url: "https://github.com/pelican-dev/plugins/archive/refs/heads/main.zip"
      replaceExisting: false
      plugins:
        - "minecraft-modrinth"
        - "mclogs-uploader"
        - "robo-avatars"
        - "snowflakes"
  # for direct plugin zip downloads
  # plugin will be unzipped directly into the plugins directory
  directDownloads: []
    # - url: "https://example.com/path/to/plugin.zip"
    #   name: "my-plugin"
    #   replaceExisting: false

image:
  repository: ghcr.io/pelican-dev/panel
  pullPolicy: IfNotPresent
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext:
  fsGroup: 82
  fsGroupChangePolicy: "Always"

securityContext: 
  runAsUser: 82
  runAsGroup: 82
  runAsNonRoot: true

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
    # - secretName: chart-example-tls
    #   hosts:
    #     - chart-example.local

httpRoute:
  enabled: false
  annotations: {}
  parentRefs:
    - name: gateway
      sectionName: http
      # namespace: default
  # Hostnames matching HTTP header.
  hostnames:
    - chart-example.local
  # List of rules and filters applied.
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /headers
  #   filters:
  #   - type: RequestHeaderModifier
  #     requestHeaderModifier:
  #       set:
  #       - name: My-Overwrite-Header
  #         value: this-is-the-only-value
  #       remove:
  #       - User-Agent
  # - matches:
  #   - path:
  #       type: PathPrefix
  #       value: /echo
  #     headers:
  #     - name: version
  #       value: v2

resources:
  limits:
    cpu: 100m
    memory: 1024Mi
  requests:
    cpu: 100m
    memory: 256Mi

livenessProbe: &probe {}
  # exec:
  #   command:
  #     - sh
  #     - /healthcheck.sh
  # initialDelaySeconds: 10
  # periodSeconds: 10
  # timeoutSeconds: 5
  # failureThreshold: 3
  # successThreshold: 1
readinessProbe: *probe

# Additional volumes on the output Deployment definition.
volumes: []
  # - name: foo
  #   secret:
  #     secretName: mysecret
  #     optional: false

# Additional volumeMounts on the output Deployment definition.
volumeMounts: []
  # - name: foo
  #   mountPath: "/etc/foo"
  #   readOnly: true

nodeSelector: {}

tolerations: []

affinity: {}
