replicaCount: 1

image:
  repository: ghcr.io/paperless-ngx/paperless-ngx
  pullPolicy: IfNotPresent
  tag: ""

strategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 1
    maxSurge: 1

podDisruptionBudget:
  enabled: true
  minAvailable: 1
  unhealthyPodEvictionPolicy: AlwaysAllow

networkPolicy:
  enabled: false
  ingress:
    enabled: false
    rules: []
  egress:
    enabled: false
    rules: []

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8000

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - secretName: chart-example-tls
      hosts:
        - chart-example.local

resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: 500m
    memory: 2Gi

livenessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 60
readinessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 60

volumes:
  - name: data
    claimName: paperless-ngx-data
    mountPath: /usr/src/paperless/data
    accessMode: ReadWriteMany
    size: 5Gi
  - name: media
    claimName: paperless-ngx-media
    mountPath: /usr/src/paperless/media
    accessMode: ReadWriteMany
    size: 5Gi
  - name: export
    claimName: paperless-ngx-export
    mountPath: /usr/src/paperless/export
    accessMode: ReadWriteMany
    size: 5Gi
  - name: consume
    mountPath: /usr/src/paperless/consume
    emptyDir: {}

TZ: Europe/Amsterdam

paperless:
  url: "https://paperless.example.org"
  port: 8000
  ocrLanguage: "deu"

  database:
    host: "paperless-postgresql"
    port: 5432
    name: paperless
    user: paperless

    # -- Optional for everything but the password. Override the direct value options above
    existingSecret:
      name: "paperless-ngx-db-secret"
      # -- Optional, if not set `paperless.database.host` value will be used
      dbHostKey: Null
      # -- Optional, if not set `paperless.database.port` value will be used
      dbPortKey: Null
      # -- Optional, if not set `paperless.database.name` value will be used
      dbNameKey: Null
      # -- Optional, if not set `paperless.database.user` value will be used
      dbUserKey: Null
      # -- Required
      dbPasswordKey: Null

  redis:
    host: "paperless-valkey"
    port: 6379

    # -- Optional but recommended
    existingSecret:
      name: "paperless-ngx-redis-secret"
      # -- Optional but recommended
      redisPasswordKey: Null

  existingSecret:
    name: "paperless-ngx-secret"
    secretKeyKey: "secret-key"
    adminUsernameKey: "admin-username"
    adminPasswordKey: "admin-password"