apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "pelican-panel.fullname" . }}-caddy-config
  labels:
    {{- include "pelican-panel.labels" . | nindent 4 }}
data:
  Caddyfile: |
    {
        admin off
        servers {
            trusted_proxies static {{ .Values.caddy.trustedProxies }}
        }
    }

    :80 {
        root * /var/www/html/public
        encode gzip

        php_fastcgi 127.0.0.1:9000 {
            env PHP_VALUE "upload_max_filesize={{ .Values.caddy.maxBodySize }} \n post_max_size={{ .Values.caddy.maxBodySize }}"
        }
        file_server
    }
