apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "pelican-panel.fullname" . }}-caddy-config
  labels:
    {{- include "pelican-panel.labels" . | nindent 4 }}
data:
  Caddyfile: |
    {
        admin off
        servers {
            trusted_proxies static 10.0.0.0/8
        }
    }

    :80 {
        root * /var/www/html/public
        encode gzip

        php_fastcgi 127.0.0.1:9000 {
            env PHP_VALUE "upload_max_filesize=100M \n post_max_size=100M"
        }
        file_server
    }
