{{- if .Values.podConfig.enabled }}
apiVersion: k8up.io/v1
kind: PodConfig
metadata:
  name: podconfig
  labels:
    {{- with .Values.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- with .Values.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  template:
    spec:
      containers:
        - securityContext:
          {{- with .Values.podConfig.securityContext }}
              allowPrivilegeEscalation: {{ .allowPrivilegeEscalation }}
          {{- end }}
{{- end }}