name: Checkov Chart Linting
on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:

permissions:
  contents: read
  security-events: write
  actions: read

jobs:
  checkov:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Checkov Scan
        uses: bridgecrewio/checkov-action@v12
        with:
          output_format: "cli,sarif"
          output_file_path: "console,results.sarif"
          directory: ./charts
          soft_fail: "true"
          skip_check: CKV_K8S_21

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v2

        if: success() || failure()
        with:
          sarif_file: results.sarif
